/* Tab Bar */
.tab-bar {
    background-color: #4F4A4A;
    padding-left: 0;
}

.tab-height {
    height: 5vh;
}

/* Body for files */
.file-body {
    background-color: #3A3636;
}

.height-full {
    height: 88vh;
}