.tab {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.tab-brand {
    font-size: 20px;
    color: orangered;
}

.tab-brand:hover {
    font-size: 20px;
    color: orangered;
}